.sidebar {
	text-align: right;
	width: 18%;
	position: fixed;
	margin-top: 15%;
}

.sidebar a {
	text-decoration: none;
	font-family: 'Merriweather', serif;
	font-size: 100%;
	display: inline-block;
	color: grey;
	padding-top: 5px;
	padding-bottom: 15px;
}

.sidebar li {
	display: block;
}

.home {
	text-align: left;
	font-family: 'Merriweather', 'Garamond', serif;
	background-position: center;
	margin: 5% auto 3% auto;
	width: 50%;
}
.content {
	width: 50%;
	background-position: center;
	margin-right: auto;
	margin-left: auto;
	font-family: 'Oxygen', sans-serif;
}

.content #text {
	line-height: 180%;
	color: black;
	font-size: 90%;
	text-transform: none;
}

.content a {
	font-family: 'Oxygen', sans-serif;
	color: black;
}

.content #subheading {
	font-family: 'Merriweather', 'Garamond', serif;
	font-size: 123%;
	padding-top: 30px;
}

.content img {
	width: 100%;
	margin: 20px auto 20px auto;
}

.footer {
	margin-bottom: 15%;
	width: 50%;
	margin: 5% auto 7% auto;
}

.footer p {
	font-family: 'Merriweather', 'Garamond', serif;
	font-size: 100%;
	color: grey;
}

.footer a {
	color: grey;
	font-family: 'Merriweather', 'Garamond', serif;
}